$defaultMargin: 8px;
$colorBoxSize: 17px;
$totalSeatsWidth: 40px;
$totalSeatsHeight: 36px;
$legendMarginTop: $defaultMargin * 2;
$textContainerMarginTop: 22px;
$partyListNumberMargin: 3px;
$partyListTrendNumber: 30px;
$partyListTrendArrow: 14px;

.q-election-seats {
  opacity: 1 !important;
  position: relative;

  &-svg {
    &-container {
      width: 100%;
      height: 0;
      padding-top: 50%;
      position: relative;
    }

    &-content {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &-total {
    position: absolute;
    width: $totalSeatsWidth;
    left: calc(50% - (#{$totalSeatsWidth} / 2));
    transform: translateY(-100%);
    text-align: center;
  }

  &-legend {
    margin-top: $legendMarginTop;
    display: flex;
    flex-wrap: wrap;
    margin-right: -$defaultMargin;
  }

  &-separator {
    margin-bottom: $defaultMargin;
    height: 1px;
    width: 100%;
    background-color: currentColor;
  }

  &-party {
    &-list {
      flex-grow: 1;
      width: 260px;
    }
  }

  &-footer {
    margin-top: $defaultMargin;
  }
}

.q-election-seats-party-list {
  margin-right: $defaultMargin;
}

.q-election-seats-party-item {
  clear: left;
  margin-bottom: $defaultMargin;
  display: flex;
  align-items: center;
  width: 100%;

  & .q-election-seats-party-item-info {
    &-color {
      background-color: currentColor;
      min-width: $colorBoxSize;
      max-width: $colorBoxSize;
      height: $colorBoxSize;
      float: left;
      margin-right: $defaultMargin;
    }
    &-name {
      flex-grow: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  & .q-election-seats-party-item-seats {
    &-text,
    &-number {
      float: left;
    }

    &-number {
      margin-right: $partyListNumberMargin;
      width: 20px;
      text-align: right;
    }
  }

  & .q-election-seats-party-item-trend {
    &-icon {
      line-height: 1;
    }

    &-number {
      float: left;
      margin-right: $partyListNumberMargin;
      width: $partyListTrendNumber;
      text-align: right;
    }
  }
}

.q-election-seats-display-trend .q-election-seats-party-item-trend-space {
  width: $partyListTrendNumber + $partyListNumberMargin + $partyListTrendArrow;
}
