$defaultMargin: 8px;
$rowLineHeight: 23px;
$rowMaxTextSize: 17px;
$totalSeatsWidth: 40px;
$totalSeatsHeight: 36px;
$legendMarginTop: 9px;
$textContainerMarginTop: 22px;
$partyListNumberWidth: 30px;
$partyListNumberMargin: 3px;
$partyListTrendArrow: 14px;

.q-election-seats {
  opacity: 1 !important;

  &-subtitle {
    margin-bottom: 19px;
  }

  &-svg {
    &-container {
      width: 100%;
      height: 0;
      padding-top: 50%;
      position: relative;
    }

    &-content {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &-total {
    position: relative;
    width: $totalSeatsWidth;
    height: $totalSeatsHeight;
    top: -$totalSeatsHeight;
    left: calc(50% - (#{$totalSeatsWidth} / 2));
    text-align: center;
  }

  &-text-container {
    position: relative;
    top: -$totalSeatsHeight + $textContainerMarginTop - $legendMarginTop;
  }

  &-legend {
    margin-top: $legendMarginTop;
    display: flex;
    flex-wrap: wrap;
    margin-right: -$defaultMargin;
  }

  &-separator {
    margin-bottom: $defaultMargin;
    height: 1px;
    width: 100%;
    background-color: currentColor;
  }

  &-party {
    &-list {
      flex-grow: 1;
      width: 260px;
    }
  }

  &-footer {
    margin-top: $defaultMargin;
  }
}

.q-election-seats-party-list {
  margin-right: $defaultMargin;
}

.q-election-seats-party-item {
  clear: left;
  height: $rowLineHeight;
  line-height: $rowLineHeight;
  margin-bottom: $defaultMargin;
  display: flex;
  align-items: center;
  width: 100%;

  & .q-election-seats-party-item-info {
    &-color {
      background-color: currentColor;
      min-width: $rowMaxTextSize;
      max-width: $rowMaxTextSize;
      height: $rowMaxTextSize;
      float: left;
      margin-right: $defaultMargin;
    }
    &-name {
      flex-grow: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }  
  }

  & .q-election-seats-party-item-seats {
    &-text,
    &-number {
      float: left;
    }

    &-number {
      margin-right: $partyListNumberMargin;
      width: $partyListNumberWidth;
      text-align: right;
    }
  }

  & .q-election-seats-party-item-trend {
   
    &-icon {
      height: $rowLineHeight;
    }

    &-number {
      float:left;
      height: $rowLineHeight;
      margin-right: $partyListNumberMargin;     
      width: $partyListNumberWidth;
      text-align: right;
    }
  }
}

.q-election-seats-display-trend .q-election-seats-party-item-trend-space {
  width: $partyListNumberWidth + $partyListNumberMargin + $partyListTrendArrow;
}
