.q-election-seat {
  &-subtitle {
    margin-bottom: 19px;
  }

  &-legend {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
  }
  
  &-parties-list {
    flex-grow: 1;
    min-width: 250px;
  }

  &-party {
    &-text {
      clear: left;
      height: 18px;
      margin-bottom: 8px;
    }

    &-info {
      float: left;
      width: 45%;

      &-color {
        background-color: currentColor;
        width: 16px;
        height: 16px;
        float: left;
      }
      &-name {
        float: left;
        margin-left: 8px;
      }  
    }

    &-seats {
      float: left;
      width: 25%;

      &-text,
      &-number {
        float:left;
      }

      &-number {
        margin-right: 3px;
        width: 30px;
        text-align: right;
      }
    }

    &-trend {
      float: left;
      width: 20%;

      &-text,
      &-number {
        float:left;
      }

      &-number {
        margin-right: 3px;
        width: 30px;
        text-align: right;
      }
    }
  }

  &-footer {
    margin-top: 16px;
  }
}
